@import "./normalize.css";
@import "font-faces";

body, html {
  font-family: "Open Sans", sans-serif;
  h1, h2, h3, h4, .heading {
    font-family: "Proxima Nova",sans-serif;
  }

  --orange: #f9613e;
}



.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.main-page {
  display: flex;
  margin-top: 150px;
  display: flex;
  margin-top: 150px;
  gap: 60px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.doc-container {
  max-width: 450px;
  border: 5px solid black;
  padding: 25px;
  border-radius: 10px;
  border-color: #9b9b9b52;
  color: #333;
  background-color: #fafafa;
  font-size: 18px;
  height: fit-content;
}

.navbar {
  display: flex;
  position: fixed;
  min-height: 70px;
  width: 100%;
  background-color: #607D8B;
  top: 0;

}
.countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 200px;
  font-weight: bold;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  transition: font-size 3s;
}
.countdown.smaller {
  font-size: 30px;
}
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: auto;
  gap: 0;
  align-content: flex-start;
  position: relative;
  border-radius: 10px;
}
.grid-canvas {
  background-image: url("../images/grid-canvas.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-button {
  display: flex;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: 6px solid #fff;
  background: #70deffc2;
  border-color: #70deff52;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-size: 20px;
  box-shadow: 0 0 3px black;
  &:hover {
    background-color: #07c6ffc2;
  }
  &.play-game-button {
    background-color: var(--orange);
    border-color: var(--orange);
    &:hover {
      background-color: #c54727;
      border-color: #c54727;
    }
  }
}
.intro-button:hover {
  cursor: pointer;
}

.play-text {
  display: flex;
  color: #fff;
  font-weight: 700;
}

.grid-cell {
  box-sizing: border-box;
  width: 33%;
  height: 33%;
  background-color: #7373a9;
  border: solid 4px white;
}
.grid-cell.active {
  background-color: #e7653b;
}
.correct {
  border: 50px solid #008000cc;
  border-radius: 10px;
}

.interaction-container {
  display: flex;
  background-color: #fafafa;
  border: 4px solid #ddd;
  margin-top: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  &:not(.success) {
    transition: background-color .8s;
  }
  &.success {
    background-color: #64c761;
  }
  &.fail {
    background-color: #f00;
  }
  .interaction-info-container {
    display: flex;
    gap: 20px;
    .heading {
      font-size: 24px;
      align-items: center;
      background-color: #fff;
      padding: 15px;
      border: 2px solid #ccc;
      border-radius: 5px;
    }
  }
  .game-button {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 150px;
    background-color: var(--orange);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
}
//==========================
// Modal Styling
//==========================

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0.6);
}
.instructions-container {
  margin-top: 50px;
  background: #fff;
  border-radius: 16px;
  width: 440px;
  height: 400px;
  padding: 30px;
  position: relative;
  display: flex;
  animation: fadeIn ease .5s;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.instructions-modal {
  background-color: #607d8bab;
  border-radius: 8px;
  display: flex;
  color: #333;
  font-weight: 400;
  margin: 0 auto;
  width: 100%;
}
.text {
  padding: 25px;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
}
.modal-close {
  background-color: #607D8B;
  color: #fff;
  width: 90px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 6px;
}
.modal-close:hover {
  cursor: pointer;
  box-sizing: border-box;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
}
